<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="{{.Keywords}}">
    <meta name="description" content="{{.Description}}">
    <title>{{.SiteName}} - {{.SubTitle}}</title>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/freebsd.png">
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Blog",
        "url": "http://www.lovekk.org/",
        "author": "{{.Author}}",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "http://www.lovekk.org/search?q={search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }
    </script>
</head>
<body>
<!--[if lte IE 9]>
<div class="browsehappy">
    <p>您正在使用 <strong class="yellow">过时</strong> 的非现代浏览器，<strong class="success">91.23%</strong> 的人选择 <a href="http://browsehappy.com/" target="_blank"><strong class="green">升级浏览器</strong></a>，获得了更好、更安全的浏览体验！</p>
</div>
<![endif]-->
<div class="search">
    <form action="/search" method="get">
        <input type="text" placeholder="请输入要搜索的内容..." name="q" autocomplete="off">
        <button type="submit">搜索</button>
    </form>
</div>
<header class="header">
    <nav>
        <ul class="menu">
            <li><a href="javascript:;" title="文章搜索" id="search">文章搜索</a></li>
            {{range .Pages}}<li><a href="/{{.Slug}}" title="{{.Caption}}">{{.Caption}}</a></li>{{end}}
        </ul>
    </nav>
    <div class="top">
        <a href="/" title="{{.SiteName}}"><img src="{{Gravatar .Email 80}}" class="circle" alt="{{.Author}}"></a>
        <h1>{{.SiteName}}</h1>
        <small>{{.SubTitle}}</small>
    </div>
</header>
<section class="article-list container" itemscope itemtype="http://schema.org/LiveBlogPosting">
    <div itemprop="about" itemscope itemtype="http://schema.org/Event">
        <meta itemprop="name" content="{{.SiteName}}">
        <meta itemprop="location" itemscope itemtype="http://schema.org/EventVenue">
            <meta itemprop="name" content="{{.SiteName}}">
            <meta itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        </div>
    </div>
    {{range .Lists}}
    <article itemprop="liveBlogUpdate" itemscope itemtype="http://schema.org/BlogPosting">
        <header itemprop="headline"><a href="/{{.Slug}}" title="{{.Caption}}" class="title" itemprop="url">{{.Caption}}</a></header>
        <section class="content">
            {{if .Cover}}<meta itemprop="image" content="{{.Cover}}"><div style="background-image:url({{.Cover}});" class="cover"></div>{{end}}
            <div class="preview" itemprop="description articleBody"><p>{{Preview .Html 150}}</p></div>
        </section>
        <footer>
            <img src="{{Gravatar $.Email 80}}" class="circle" alt="{{$.Author}}">
            <span class="author" itemprop="author">{{$.Author}}</span>
            <span class="date" data-time="{{.Created}}" itemprop="datePublished"><span class="time"></span></span>
            <meta itemprop="datePublished dateModified" content="{{.Created | DateFormat}}">
            <span class="tags">{{range .Tags}}<a class="tag" href="/tag/{{. | GetTagSlug}}">{{.}}</a>{{end}}</span>
            <meta itemprop="keywords" content="{{range .Tags}}{{.}},{{end}}">
        </footer>
    </article>
    {{end}}
</section>
{{if gt .paginator.PageNums 1}}
<section class="container page">
    <ul class="pagination">
         {{if .paginator.HasPrev}}<li><a href="{{.paginator.PageLinkPrev}}" title="上一页">上一页</a></li>{{end}}
        <li><span style="text-align:center;"> {{.paginator.Page}} / {{.paginator.PageNums}} </span></li>
        {{if .paginator.HasNext}}<li><a href="{{.paginator.PageLinkNext}}" title="下一页">下一页</a></li>{{end}}
    </ul>
</section>
{{end}}
<footer class="footer">
    <p>&copy;2013双擦 让我们一起来双擦吧！。<script src="http://s6.cnzz.com/stat.php?id=5508481&web_id=5508481" language="JavaScript"></script>  | {{.StartTime | LoadTimes}}</p>
    <p><a href="http://www.miibeian.gov.cn" target="_blank" title="滇ICP备16000788号">滇ICP备16000788号</a></p>
</footer>
<a href="javascript:;" class="fa fa-arrow-circle-up fa-3x" id="gotop"></a>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/scblog.js"></script>
</html>
