<!DOCTYPE html>
<html lang="zh-cn" itemscope itemtype="http://schema.org/NewsArticle">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta itemscope itemprop="mainEntityOfPage" itemtype="http://schema.org/WebPage" itemid="/{{.Slug}}">
    <meta itemprop="keywords" name="keywords" content="{{.Keywords}}">
    <meta itemprop="description" name="description" content="{{.Description}}">
    <title>{{.Caption}} - {{.SiteName}}</title>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/js/editormd/css/editormd.preview.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/freebsd.png">
    <script>var duoshuoQuery = {short_name:"lovekk"};</script>
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Blog",
        "url": "http://www.lovekk.org/",
        "author": "{{.Author}}",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "http://www.lovekk.org/search?q={search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }
    </script>
</head>
<body>
<!--[if lte IE 9]>
<div class="browsehappy">
    <p>您正在使用 <strong class="yellow">过时</strong> 的非现代浏览器，<strong class="success">91.23%</strong> 的人选择 <a href="http://browsehappy.com/" target="_blank"><strong class="green">升级浏览器</strong></a>，获得了更好、更安全的浏览体验！</p>
</div>
<![endif]-->
<div class="search">
    <form action="/search" method="get">
        <input type="text" placeholder="请输入要搜索的内容..." name="q" autocomplete="off">
        <button type="submit">搜索</button>
    </form>
</div>
<header class="header">
    <nav>
        <ul class="menu">
            <li class="back"><a href="/" title="返回首页"><< 返回首页</a></li>
            <li><a href="javascript:;" title="文章搜索" id="search">文章搜索</a></li>
            {{range .Pages}}<li><a href="/{{.Slug}}" title="{{.Caption}}">{{.Caption}}</a></li>{{end}}
        </ul>
    </nav>
</header>
<article class="container article">
    <header>
        <h1 itemprop="headline">{{.Caption}}</h1>
        {{if eq .Type "post"}}
        <img src="{{Gravatar .Email 80}}" class="circle" alt="{{.Author}}">
        <span class="author" itemprop="author">{{.Author}}</span>
        <span class="date" data-time="{{.Created}}"><span class="time"></span></span>
        <meta itemprop="datePublished dateModified" content="{{.Created | DateFormat}}">
        <span class="tags">{{if .Tags}}标签：{{range .Tags}}<a class="tag" href="/tag/{{. | GetTagSlug}}">{{.}}</a>{{end}}{{end}}</span>
        {{end}}
        <div itemscope itemprop="image" itemtype="http://schema.org/ImageObject">
            <meta itemprop="url" content="{{if .Cover}}http://www.lovekk.org{{.Cover}}{{else}}http://www.lovekk.org/static/img/freebsd.png{{end}}">
            <meta itemprop="height" content="800">
            <meta itemprop="width" content="800">
        </div>
    </header>
    <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="{{.SiteName}}">
        <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
            <meta itemprop="url" content="http://www.lovekk.org/static/img/freebsd.png">
            <meta itemprop="width" content="424">
            <meta itemprop="height" content="460">
        </div>
    </div>
    <div class="editormd-html-preview content">{{str2html .Html}}</div>
    {{if eq .Type "post"}}
    <footer>
        <section>
            <span>上一篇</span>
            {{if .IsPrev}}<a href="/{{.IsPrev.Link}}" title="{{.IsPrev.Caption}}">{{.IsPrev.Caption}}</a>{{else}}<a href="javascript:;" title="没有文章">没有文章</a>{{end}}
        </section>
        <section>
            <span>下一篇</span>
            {{if .IsNext}}<a href="/{{.IsNext.Link}}" title="{{.IsNext.Caption}}">{{.IsNext.Caption}}</a>{{else}}<a href="javascript:;" title="没有文章">没有文章</a>{{end}}
        </section>
    </footer>
    {{end}}
</article>
<section class="container comment"><div class="ds-thread" data-thread-key="{{.Id}}" data-title="{{.Caption}}" data-url="http://www.lovekk.org/{{.Slug}}/"></div></section>
<footer class="footer">
    <p>&copy;2013双擦 让我们一起来双擦吧！。<script src="http://s6.cnzz.com/stat.php?id=5508481&web_id=5508481" language="JavaScript"></script>  | {{.StartTime | LoadTimes}}</p>
    <p><a href="http://www.miibeian.gov.cn" target="_blank" title="滇ICP备16000788号">滇ICP备16000788号</a></p>
</footer>
<a href="javascript:;" class="fa fa-arrow-circle-up fa-3x" id="gotop"></a>
</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/embed.js"></script>
<script src="/static/js/scblog.js"></script>

<script>
$(function(){
    $('.content a').each(function(){
        $(this).attr('target','_blank');
    });
});
</script>
</html>
